@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


/* ------------------global styles---------------------------- */
*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

.border {
    border-bottom: 2px solid #e4e0e0;
    padding-top: 10px;
    /* box-shadow: 0px 1px; */
}

.h1-main{
    font-size: 45px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    padding: 0px 10px;
}

.wrapper{
    margin: 0px 135px;
}
.h2-main{
    font-size: 25px;
    color: #1e1e1e;
    font-weight: 500;
}


.h4-main {
    font-size: 20px;
    color: red;
    font-weight: 500;
}

.h5-main {
    font-size: 18px;
    color: #1e1e1e;
    margin-bottom: 10px;
    font-weight: 600;
}

.writer{
    font-size: 13px;
    color: #6d6e71;
    margin: 10px 0;
}

.p-main {
    font-size: 17px;
    color: #1e1e1e;
    text-align: justify;
    margin-right: 8px;
}

.h6-main{
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.normal {
    padding: 13px 22px;
    background: #ffbd27;
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    transition: background 0.4s ease;
}

.height-less{
    margin-top: -20px;
}

.normal:hover{
    background: #fbb309;
}

.gap{
    padding: 0px 125px ;
}


/* ------------------global styles---------------------------- */


/* -----------navbar-------------------- */

#navbar{
    display: flex;
    background-color: #1f1f1f;
    align-items: center;
    padding: 20px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.06);
}

#navbar .menu a:first-child{
    margin-left: 0px;
    padding-left: 0px;
}

#navbar .menu a {
    text-decoration: none;
    color: #d5d5d5;
    padding: 20px 10px;
    font-size: 18px;
    text-transform: capitalize;
    margin-left: 30px;
    transition: color 0.3s ease;
}

#navbar .bars{
 display: block;
 
}

#navbar .bars i {
    font-size: 20px;
    margin-left: 725px;
    margin-bottom: 0;
    color: #fff;
    cursor: pointer;
}

#navbar a:hover{
    color: #fff;
}

/* -----------------------navbar end --------------------------- */

.sidebar {
    position: fixed;
    width: 253px;
    height: 100%;
    right: -253px;
    transition: right 0.6s ease;
    background-color: #fff;
    z-index: 900;
    padding-left: 0;
}
.sidebar .text{
    color: #1e1e1e;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    /* background-color: #1e1e1e; */
    letter-spacing: 1px;
}

.bars {
    position: absolute;
    right: 30px;
    top: 18px;
    cursor: pointer;
    transition: right 0.4s ease;
}

.bars span{
    font-size: 20px;
    color: white;
    line-height: 30px;
}

.bars.click{
    right: 230px;
    
}

.bars.click span::before{
    content: '\f00d';
    transition: all 0.4s ease;
}

.sidebar.show{
    right: 10px;
}




nav ul {
    height: auto;
    width: 100%;
    list-style: none;
    padding-top: 50px;
    margin-left: -35px;
    margin-left: -35px;
}

nav ul li {
    line-height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 5px;
}

nav ul li:last-child{
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
} 

nav ul li a {
    position: relative;
    color: #1e1e1e;
    text-decoration: none;
    font-size: 18px;
    padding-left: 30px;
    text-transform: capitalize;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 2px solid transparent;
}

nav ul li a :hover{
    color: #6d6e71;
}


nav ul li.active a{
    color: #6d6e71 ;
    border-left: 2px solid #1e1e1e;
}
nav ul ul{
    position: static;
    display: none;
}

nav ul .val-show.show{
    display: block;
}

nav ul .spor-show.show1{
    display: block;
}

nav ul ul li{
    line-height: 30px;
    border-bottom: none;
}

nav ul ul li a {
    font-size: 13px;
    color: #1e1e1e;
    padding-left: 40px;
    transition: all 1s ease;
}

nav ul li.active ul li a{
    color: #1e1e1e ;
    border-left-color: transparent;
}

nav ul ul li a:hover{
    color: #1e1e1e!important;
}

nav ul li a span {
    position: absolute;
    top: 53%;
    right: 117px;
    font-size: 20px;
    transform: translateY(-50%);
    transition: transform 0.4s;
}

nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
}




/* -------------------------big-news------------------------- */

.big-news{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 1PX 10px gray; */
    padding: 35px 0px;
    margin-bottom: 70px;
    margin-top: 50px;
}

.big-image{
    width: 80%;
    height: auto;
    padding: 20px 0px;
    overflow: hidden;
    
}
.big-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: transform 0.7s ease;
}

.big-image img:hover{
    transform: scale(1.05);
}

.big-news p{
    font-size: 20px;
}


/* -------------------------big-news------------------------- */

/* -------------------------------second big-news----------------------- */


.second-big{
    /* border: 2px solid red; */
    display: flex;
}

.second-big a{
    text-decoration: none;
    color: #1e1e1e;
}


.sec-1 {
    width: 31%;
    padding: 0px 20px 20px 0px;
}

.sec-1-0 {
    width: 100%;
    overflow: hidden;
    /* padding: 0px 7px; */
    padding-top: 5px;
    position: relative;
    margin-bottom: 20px;
}

.image-box{
    width: 100%;
    height: 100%;
    
}
.image-box .image{
    z-index: 10;
}

.image-box::before {
    content: '';
    background: linear-gradient(to top,rgba(0,0,0,0.88),rgba(0,0,0,0.68),transparent,transparent);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97%;
    z-index: 3;
    margin: 0px 0px;
}


.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
}


.image-box a> p {
    position: absolute;
    top: 68%;
    left: 0;
    padding: 0px 18px;
    color: #fff;
    z-index: 4;
    font-weight: 500;
}

.para{
    position: absolute;
    top: 68%;
    left: 0;
    padding: 0px 5px;
    font-weight: 500;
}

.image-box img:hover{
    transform: scale(1.05);
}

.sec-1-1 {
    display: flex;
    height: 92px;
    padding: 0px 7px;
    padding-top: 5px;
    margin-bottom: 20px;
    /* box-shadow: 0 1PX 10px gray; */
}

.sec-1 p {
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 600;
}

.sec-image {
    width: 290px;
    height: 134px;
    overflow: hidden;
}

.block {
    width: 610px;
    overflow: hidden;
}

.sec-image img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.7s ease;
}

.sec-image img:hover{
    transform: scale(1.05);
}

.sec-1 h3{
    font-size: 28px;
    font-weight: 500;
}

.sec-2 {
    width: 42%;
    /* border: 2px solid black; */
    margin-left: 25px;
}

.sec1-image{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.sec1-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
    transition: transform 0.7s ease;
    
}

.sec1-image img:hover{
    transform: scale(1.05);
}


.sec2-box{
    margin-bottom: 30px;
    padding: 20px 20px;
    /* box-shadow: 0 1PX 10px gray; */
}

.sec-3{
    width: 25%;
    height: auto;
}

/* .ad{
    width: 100%;
    height: 100%;
} */

.ad1 img {
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 50px;
    /* border: 1px solid red; */
}

/* -------------------------------second big-news----------------------- */



/* ---------------------main-news---------------------------------- */

.main-news{
    display: flex;
    /* border: 2px solid red; */
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-col {
    width: 70%;
    overflow: hidden;
    /* border: 2px solid green; */
    padding: 14px 19px;
    /* box-shadow: 0 1PX 10px gray; */
}

.main-col a{
    text-decoration: none;
}

.main-col h2 {
    /* padding-left: 10px; */
    padding-top: 10px;
    margin-bottom: 15px;
}

.main-photo{
    width: 100%;
    height: auto;
    overflow: hidden;
    
}

.main-photo img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    margin-bottom: 20px;
    transition: transform 0.7s ease;
}

.main-photo img:hover{
    transform: scale(1.05);
}


.main-col p {
    font-size: 16.5px;
    padding: 4px 0;
}



.pri-col {
    width: 30%;
    /* border: 2px solid red; */
    overflow: hidden;
    margin: 0px 20px;
    padding: 0px 10px;
    /* box-shadow: 0 1PX 10px gray; */
    margin-right: 0px;
}

.pri-news {
    padding: 20px 20px;
    /* box-shadow: 0 1PX 10px grey; */
    margin-bottom: 20px;
}

.pri-photo{
    width: 100%;
    height: auto;
    overflow: hidden;
    
}

.pri-photo img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.pri-photo img:hover{
    transform: scale(1.05);
}

.pri-col h3{
    padding: 10px 0;
}

.pri-col a{
    text-decoration: none;
    color: #1e1e1e;
}

.pri-photo p{
    font-size: 14.5px;
    padding: 4px 0;
}



/* ---------------------main-news---------------------------------- */

/* -----------------------------starting------------------------------------- */
.start_cont{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    border-bottom: 1px solid red;
    margin-top: 60px;
    margin-bottom: 5px;
    padding-top: 5px;
}
.start_cont .logo{
    width: 160px;
    /* border: 1px solid red; */
    height: auto;
    margin: 0 auto;
}

.start_cont .logo img {
    width: 100%;
    display: block;
    height: auto;
    padding: 5px 0px;
}

.start_cont .date{
    position: absolute;
    top: 80%;
    right: 10px;
}

.start_cont .date{
    font-size: 12px;
    color: #6d6e71;
}

/* -----------------------main------------------------------------------ */

/* -----------------------------------------row1------------------------------- */

.row1{
    display: flex;
    margin-top: 10px;
}

.row1 ul{
    display: flex;
}

.row1 ul li{
    padding: 3px 10px;
    list-style: none;
    /* background-color: green; */
    
}

.row1 ul li:first-child(1){
    margin-left: -5px ;
    padding-left: 0px;
}

.row1 ul li a {
    text-decoration: none;
    color: #1e1e1e;
    padding: 5px 20px;
    transition: all 0.4s ease;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    /* font-family: 'Noticia Text', serif; */
}

.row1 ul li a:hover{
    background-color: #424242;
    border-radius: 30px;
    color: white;
}


.row1 ul li.active a{
    background-color: #1e1e1e;
    border-radius: 30px;
    color: white;
}

/* -----------------------------------------row1------------------------------- */

/* ---------------------------------ads------------------------------------- */

/* ---------------------(For all horizontal ads)---------------------------- */

.ads{
    width: 100%;
    margin: 20px 0px;
}
.ads .ad {
    width: 82.5%;
    height: 122px;
    /* border: 2px solid red; */
}
.ads .ad img{
    width: 100%;
    height: auto;
    display: block;
}
.ads .ad1 {
    width: 82.5%;
    height: 122px;
    margin-bottom: 30px;
    /* background-color: red; */
}
.ads .ad1 img{
    width: 100%;
    height: auto;
    display: block;
}

/* ---------------------news---------------------------------- */



.news{
    display: flex;
    flex-wrap: wrap;
    /* box-shadow: 0 1PX 10px gray; */
}

/* -----------------------------------column-1------------------------------------------ */

.col1{
    display: flex;
    flex-direction: column;
    width: 28%;
    /* border: 1px solid red; */
    overflow: hidden;
    padding: 15px 8px;
    /* flex-wrap: wrap; */
    margin-right: 12px;
    /* box-shadow: 0 1PX 10px gray */
}

.col1 .col1-news {
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.06);
    padding: 8px 11px;
    /* box-shadow: 0 1px 10px grey; */
}

.col1 .col1-news a{
    text-decoration: none;
}

.col1 .col1-news span{
    margin: 20px 0;
}
.col1 .col1-news .news-img{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
    
}


.col1 .col1-news .col1-news1-text{
font-size: 12px;

}
.col1 .col1-news .news-img .newsimg {
    width: 100%;
    display: block;
    overflow: hidden;
    margin-top: 5px;
}

.col1 .col1-news .news-img .newsimg img{
    width: 100%;
    transition: all 0.6s ease-in-out;
}

.col1 .col1-news .news-img .newsimg img:hover{
    transform: scale(1.1);
}
/* -----------------------------------column-1------------------------------------------ */

.col2{
    width: 42%;
    /* box-shadow: 0 1PX 10px gray */
}

.col2 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 15px 8px;
    /* flex-wrap: wrap; */
    width: 41%;
    margin-right: 12px;
}

.col2 a{
    text-decoration: none;
}

.col2 .col2-news {
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.06);
    margin-top: 0px;
    padding: 8px 11px;
    /* box-shadow: 0 1PX 10px gray; */
}

.col2 .col2-news a{
    text-decoration: none;
}

.col2 .col2-news span{
    margin: 20px 0;
}
.col2 .col2-news .news-img{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
    
}

.col2 .col2-news .news-img p{
    margin-top: 10px;
}

.col2 .col2-news .col1-news1-text{
    font-size: 12px;
    
}
.col2 .col2-news .news-img .newsimg{
    width: 100%;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
    
}

.col2 .col2-news .news-img .newsimg img{
    width: 100%;
    transition: all 0.6s ease-in-out;
}

.col2 .col2-news .news-img .newsimg img:hover{
    transform: scale(1.1);
}

/* -------------------------column-3---------------------------------------------------- */

.col3{
    width: 28%;
    /* box-shadow: 0 1PX 10px gray */
}

.col3{
    display: flex;
    flex-direction: column;
    width: 28%;
    /* border: 1px solid red; */
    overflow: hidden;
    padding: 15px 8px;
    /* flex-wrap: wrap; */
}

.col3 a{
    text-decoration: none;
}

.col3 .col3-news {
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.06);
    padding: 8px 11px;
    /* box-shadow: 0 1PX 10px gray; */
}

.col3 .col3-news a{
    text-decoration: none;
}

.col3 .col3-news span{
    margin: 20px 0;
}
.col3 .col3-news .news-img{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
    
}


.col3 .col3-news .col1-news1-text{
    font-size: 12px;
    
}
.col3 .col3-news .news-img .newsimg {
    width: 100%;
    display: block;
    overflow: hidden;
    margin-top: 10px;
}

.col3 .col3-news .news-img .newsimg img{
    width: 100%;
    transition: all 0.6s ease-in-out;
}

.col3 .col3-news .news-img .newsimg img:hover{
    transform: scale(1.1);
}
    /* -------------------------column-3---------------------------------------------------- */


    /* ---------------------ads1-------------------------- */
    .ad1{
    width: 82.5%;
    }

    .ads1{
        
        height: 100px;
        border: 2px solid green;
    }
    .ads1 img{
        width: 100%;
    }

/* -----------------------news-2------------------------------------ */
.heading{
    color: red;
    margin-bottom: 40px;
    position: relative;
    margin-top: 40px;
    
}
.heading::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom: 4px solid red;
    width: 5%;
    border-radius: 40px;
}


.news_2{
    display: flex;
    /* border: 2px solid orange; */
    
}
.col-1 {
    display: flex;
    flex-direction: column;
    width: 71%;
    /* border: 1px solid red; */
    overflow: hidden;
    padding: 15px 8px;
    /* flex-wrap: wrap; */
    margin-right: 12px;
    margin-bottom: 50px;
    margin-left: -5px;
    background-color: rgba(0, 0, 0, 0.06);
    /* box-shadow: 0 1px 10px grey; */
}

.col-1 a{
    text-decoration: none;
}

.col-1 span{
    margin: 10px 0;
}

.col-1 .col-1-news {
    display: flex;
    padding-bottom: 30px;
    /* border-bottom: 1px solid #e2d8d8; */
    /* box-shadow: 0 1PX 10px gray; */
    padding: 10px 10px;
    margin: 14px 0px;
}


.col-1-info{
    display: flex;
    flex-direction: column;
}


.col1-image{
    width: 90rem;
    height: auto;
    /* border: 1px solid black; */
    overflow: hidden;
    margin: 10px 5px;
    /* margin-top: 15x; */
    /* padding-top: 3px; */
    
}
.col1-image img{
    width: 100%;
    display: block;
    overflow: hidden;
    transition: transform 0.6s ease;
    border-radius: 3px;
}

.col1-image img:hover{
    transform: scale(1.1);
}

.col-2{
    width: 28%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    
}

.col-2 .ads {
    height: auto;
    margin: 34px 30px;
}

.col-2 .ads img {
    width: 100%;
    height: auto;
    padding-right: 12px;
}


/* ----------------------------------------------------------- */

.news-slider{
    width: 83%;
    display: flex;
    /* box-shadow: 0 1PX 10px gray; */
    padding: 10px 0;
    align-items: center;
}

.flow{
    overflow: hidden;
}
.news-slide1{
    width: 25%;
    height: 470px;
    /* border: 2px solid red; */
    overflow: hidden;
    margin: 0px 15px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 1PX 10px gray;
}



.news-slide1:first-child{
    margin-left: 0px;
}


.news-slider .news-slide1::before{
    content: '';
    background: linear-gradient(to top,rgba(0,0,0,0.88),rgba(0,0,0,0.68),transparent,transparent);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.news-slide1:hover img{
    transform: scale(1.05);
}
.image1{
    width: 100%;
    height: 100%;
}
.news-slide1 .image1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.6s ease;
    z-index: 10;
}


.text-1{
    /* border: 2px solid green; */
    position: absolute;
    top: 75%;
    left: 0;
    z-index: 4;
}

.text-1 a >h5{
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    /* text-shadow: 2px 3px 40px #fff; */
    padding: 4px 5px;
    font-family: 'PT Serif', serif;
    letter-spacing: 1px;
    line-height: 25px;
    /* text-align: justify; */
    margin: 0px 10px;
}

.text-1 a{
    text-decoration: none;
}


#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../img/newsletter.png);
    background-position: 20% 30%;
    background-repeat: no-repeat;
    background-color: #041e42;
    margin: 50px 0px;
    padding: 50px 130px;
}

#newsletter h4{
font-size: 22px;
font-weight: 700;
color: #fff;
}

#newsletter p{
font-size: 14px;
font-weight: 600;
color: #6d6e71;
}

#newsletter p span{
color: #ffbd27;
}



#newsletter .form{
    display: flex;
    width: 40%;
}



#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 80%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
   
}


.foot{
    display: flex;
    
}

.foot a {
    text-decoration: none;
    color: #1e1e1e;
    font-size: 17px;
    transition: color 0.4s ease;
}

.foot a:hover{
    color: #6d6e71;
}

.foot h5{
    font-size: 20px;
    text-transform: uppercase;
}

.foot ul{
    padding: 0px;
}

.foot ul li {
    list-style:  none;
    line-height: 25px;
    gap: 10px;
    text-transform: capitalize;
   
}

.foot-1{
    margin-right: 40px;
}


.foot-2{
    margin: 0px 80px;
    /* border: 2px solid red; */
}

.icons{
    display: flex;
}
.icons ul{
    display: flex;
}

.icons ul li{
    padding: 10px 40px;
    font-size: 23px;
}

.icons ul :first-child{
    padding-left: 0px;
}

.end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background-color: #1f1f1f;
    margin-top: 50px;
}
.end p{
    color: white;
}